h1,h2,h3 {
    color : green;
}

a {
    color : grey;
}

a:visited {
    color : red;
}

p
{
    font-style : inherit;
    color : blue;
}

em
{
    font-style : italic;
    color : grey;
}

.waldo{
 color : red;
}

.waldo:hover {
    color : yellow ;
}

.contouring
{
    border: 5px solid black;
}